@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap");

/* globals.css */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}
